@import "tailwindcss";
@import '@fontsource-variable/jetbrains-mono';
@import '@fontsource-variable/manrope';

:root {
  --background: #f8f8f8;
  --foreground: #262626;
  --limonana: #1CD864;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Manrope Variable', sans-serif;
}
